<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitblue.crebit" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/crebit"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".splashscreen.SplashScreenActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loginpage.LoginActivity"
            android:icon="@drawable/crebit"
            android:label="@string/crebitWallet"/>
        <activity
            android:name=".loginpage.ForgotPass"
            android:label="@string/forgotPasswd" />
        <activity
            android:name=".loginpage.SignUp"
            android:windowSoftInputMode="stateVisible"
            android:label="@string/signupRegister" />
        <activity
            android:name=".servicespage.service"
            android:label="" />
        <activity
            android:name=".servicespage.activities.PostPaid"
            android:label="@string/title_activity_post_paid" />
        <activity
            android:name=".servicespage.activities.PrePaid"
            android:label="@string/title_activity_pre_paid" />
        <activity
            android:name=".servicespage.activities.Datacard"
            android:label="@string/title_activity_datacard" />
        <activity
            android:name=".servicespage.activities.Dth"
            android:label="@string/title_activity_dth" />
        <activity
            android:name=".servicespage.activities.Insurance"
            android:label="@string/title_activity_insurance" />
        <activity
            android:name=".servicespage.activities.Electricity"
            android:label="@string/title_activity_electricity" />
        <activity
            android:name=".servicespage.activities.GasBill"
            android:label="@string/title_activity_gas_bill" />
        <activity
            android:name=".servicespage.activities.BroadBand"
            android:label="@string/title_activity_broad_band" />
        <activity
            android:name=".servicespage.activities.FundTransfer"
            android:label="@string/title_activity_fund_transfer" />
        <activity
            android:name=".servicespage.menuitem.ChangePassword"
            android:label="@string/title_activity_change_password" >
        </activity>
        <activity
            android:name=".servicespage.activities.Electriciti.MSEB"
            android:label="@string/title_activity_mseb" >
        </activity>
        <activity
            android:name=".servicespage.activities.Electriciti.RelianceMum"
            android:label="@string/title_activity_reliance_mum" >
        </activity>
        <activity
            android:name=".servicespage.activities.Electriciti.TorrentPower"
            android:label="@string/title_activity_torrent_power" >
        </activity>
        <activity
            android:name=".servicespage.fragments.transactionSummary.checkStatus.CheckStatus"
            android:label="@string/title_activity_check_status" >
        </activity>
    </application>

</manifest>
